@tailwind base;
@tailwind components;
@tailwind utilities;

.background-radial-gradient {
  background: hsla(330, 100%, 20%, 1);

  background: linear-gradient(45deg, hsla(330, 100%, 20%, 1) 22%, hsla(39, 36%, 45%, 1) 100%);

  background: -moz-linear-gradient(45deg, hsla(330, 100%, 20%, 1) 22%, hsla(39, 36%, 45%, 1) 100%);

  background: -webkit-linear-gradient(45deg, hsla(330, 100%, 20%, 1) 22%, hsla(39, 36%, 45%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#660033", endColorstr="#9E804A", GradientType=1);
}