@tailwind base;
@tailwind components;
@tailwind utilities;

.background-radial-gradient {

  background: linear-gradient(#370325, #10032B, #7B0652);

  -webkit-animation: backgroundAngels 5s ease infinite;
  -moz-animation: backgroundAngels 5s ease infinite;
  -o-animation: backgroundAngels 5s ease infinite;
  animation: backgroundAngels 5s ease infinite;
}

@-webkit-keyframes backgroundAngels {
  0% {
    background-position: 0% 15%
  }

  50% {
    background-position: 100% 86%
  }

  100% {
    background-position: 0% 15%
  }
}

@-moz-keyframes backgroundAngels {
  0% {
    background-position: 0% 15%
  }

  50% {
    background-position: 100% 86%
  }

  100% {
    background-position: 0% 15%
  }
}

@-o-keyframes backgroundAngels {
  0% {
    background-position: 0% 15%
  }

  50% {
    background-position: 100% 86%
  }

  100% {
    background-position: 0% 15%
  }
}

@keyframes backgroundAngels {
  0% {
    background-position: 0% 15%
  }

  50% {
    background-position: 100% 86%
  }

  100% {
    background-position: 0% 15%
  }
}